body{

margin:0;

font-family:
Arial,
"Microsoft YaHei";

background:#f5f6fa;

}


.home{

padding:20px;

}



.banner{

height:65px;

background:#ff4b2b;

border-radius:12px;

color:white;

font-size:28px;

font-weight:bold;

display:flex;

align-items:center;

justify-content:center;

gap:60px;

}



.banner button{

border:0;

border-radius:20px;

padding:10px 30px;

}



.order-box{

margin-top:25px;

background:#3578ef;

border-radius:15px;

display:flex;

justify-content:space-around;

color:white;

padding:20px;

}



.order-box div{

text-align:center;

}


.order-box h2{

font-size:28px;

margin:0;

}



.data-grid{

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:20px;

}



.data-grid div{

background:white;

padding:25px;

border-radius:12px;

}



.data-grid h2{

font-size:28px;

margin:10px 0;

}



.data-grid span{

color:#999;

font-size:14px;

}
